/**
 *
 *      Style Analysis:
 *
 *          - White Text.
 *          - Titles in Big Capitals Sans Serif.
 *          - Rest of text in serif.
 *          - Text Colour is #474e56 on white bg.
 *              - Same colour is used as dark background.
 *          - Some Areas use $beige.
 *          - Links on white bg are #c99e67.
 *          - Buttons change upon hover, either start with white fill
 *            and dark colour^^ border & text. OR vice-versa.
 *
 *          Notes: Need to look at aria roles and change the focus styling
 *
 **/


/**
 *
 *      [1] - Imports
 **/

//Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700');
//Icons
@import url('https://use.fontawesome.com/13bf5268a0.js');

/**
 *
 *      [2] - Variables
 *
 **/

// Colours

// Colours Taken from CleverSteam Site
$bg: #474e56; // Dark Background
$ltbg: #f5f5f5; //Light Background -- Passes WCAG AAA
$beige: #CDA775;  //Beige

//Colours Added for Accessibility
$borderBeige: #aa824d; // Darker Colour for Borders (Against White BG)
$textBeige: #645034; // Passes WCAG AAA

//Generic Colour Variables
$white: #fff;
$black: #000;
// Fonts
$title: 'Roboto', sans-serif;
$text: 'PT Serif', serif;

/**
 *
 *      [3] - Styling
 *
 **/

 // All elements, round off borders and remove padding/margin. Helps counteract
 // any bootstrap default values (at this level)
* {
  border-radius: 5px;
  margin: 0;
  padding: 0;

}

.container {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

table {
    font-family: $text;  // Is this a good idea? Does not seem that readable.
    font-size: 120%;
    //border: 1px solid $bg;
}

.table>tbody>tr>td {
  vertical-align: middle;
  border-bottom: 2px solid $borderBeige;
}

h1, h2, h3 {
    font-family: $title;
    background-color: $bg;
    color: $white;
    margin-bottom: 1em;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    padding: 32px;
    //text-transform: uppercase; -- Makes it more like their site...is this necessary?
}


.navbar {
    background-color: $bg;
    font-family: $title;
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar-default
.navbar-brand {
    color: $white;
    &:hover {
      color: $beige;                                    // You can nest :selectors like this!
    }
}


.navbar-default
.navbar-nav li a {
    color: $white;
    text-align: left;
}

.navbar-default
.navbar-nav li a:hover {
    color: $beige;
    //text-decoration: underline;
    //font-weight: bold;
    font-size: 120%;
}

.navbar-nav>li>.dropdown-menu {
  background-color: $bg;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: $beige;
    color: $bg;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: $beige;
    color: $bg;
}



.btn-primary {
    background-color: transparent;
    width: 30%;
    font-size: 150%;
    padding: 12px;
    //transform: translateX(-50%);
    //border: 2px solid $bg;
    color: $bg;
    margin-bottom: 10px;
    margin-right: 10px;
    border-bottom: 4px solid $black;
    border-left: 1px solid $black;
    border-right: 4px solid $black;
    border-top: 1px solid $black;
}

.btn-primary:hover{
    background-color: $white;
    border-bottom: 4px solid $black;
    border-left: 1px solid $black;
    border-right: 4px solid $black;
    border-top: 1px solid $black;
    color: $bg;
    .text-warning {
      color: $beige;
    }
}


.btn-primary:active{
    background-color: $bg;
    border: 2px solid $bg;
    color: $white;
    .text-warning {
      color: $white;
    }
}

.btn-primary:focus{
    background-color: $bg;
    border: 2px solid $bg;
    color: $white;
    .text-warning {
      color: $white;
    }
}


a {
    padding: 12px;
    //margin: 1em;
    background-color: transparent;
    color: $textBeige;
    border-radius: 8px;
    font-family: $title;
    //padding-bottom: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

a:hover {
    //border-bottom: 4px solid $bg;
    background-color: $bg;
    color: $white;
    text-decoration: none;
    .text-warning {
      color: $white;
    }
}

  /*
  table tr:hover {
    border-left: 4px solid $bg;
    border-right: 4px solid $bg;
  }*/



.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: $bg;
}

input[type=submit] {
    @extend .btn-primary;
}


// Indvidual View Pages

.panel {
  border: none;
}

.panel-body, .list-group {
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid $borderBeige;
  border-top: none;
}

.panel-default>.panel-heading {
  background-color: $bg;
  color: $white;
}

.panel-heading {
  background-color: $bg;
  border-radius: 0;
  border: none;
}

.list-group-item {
  background-color: $ltbg;
  border: 2px solid $borderBeige;
}
.list-group-item:nth-child(odd) {
  background-color: $white;
}

.panel a {
  border-radius: 20px;
  color: $black;
  border-left: 1px solid $bg;
  border-right: 1px solid $bg;
  border-top: 1px solid $bg;
  border-bottom: 4px solid $bg;
}

.panel a:hover {
  background-color: $bg;
  color: $white;
}

.panel a:active {
  background-color: $bg;
  color: $white;
  border: 4px solid $beige;
  text-decoration: none;
}


.list-group-item a {
  //text-decoration: underline;
  //border-radius: 0;
}



//Responsive Table
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
th {
  background: $bg;
  color: white;
  font-weight: bold;
  border-radius: 0; //Counteract the top rule for * all
}
td, th {
    padding: 12px;
    text-align: left;
    //font-size: 110%;
}



a[href="javascript:history.back()"] {
  @extend .btn-primary;
  margin: 12px;
  max-width: 15%;
}

form {
  width: 100%;
  text-align: center;
  input {
    width: 30%;
    padding: 5px;
    margin: 2px;
    border: 2px solid $bg;
    &[type="checkbox"] {
      width: auto;
    }
    &[type="submit"] {
      width: 15%;
    }
  }
}




@media screen and (max-device-width: 43em) {                                       //Mobile

    html {
      //font-size: 20pt;
      padding-bottom: 75px; //THIS DID NOT WORK ON ACTUAL DEVICE
    }

    h1, h2, h3 {
      margin-top: 0;
    }


    // Responsive Table
    //Adapted fromhttp://allthingssmitty.com/2016/10/03/responsive-table-layout/

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
    table {
        font-size: 18pt;
        margin-top: 60px;
        table-layout:fixed
    }

    .glyphicon {
        font-size: 30px;
        vertical-align: middle;
    }

    table thead {
    border: none;
    height: 1px;
    //margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    //border-top: 5px solid $beige;
    //border: 1px solid $bg;
    border: none;
  }

  table td {
    display: block;
    text-align: right;
    padding: 0;
    border: none;
    word-wrap: break-word;
  }

  td, th {
      font-size: 100%;
  }


  table td:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    width: 100%;
    background-color: $bg;
    color: $white;
    //border-bottom: 5px solid $bg;
    //color: $bg;
    font-family: $title;
    padding-left: 4px;
  }
  .table tbody tr td {
    padding: 0;
  }

  .tblButton {
    width: 33.333%;
    text-align: center;
    float: left;
  }

  .table>tbody>tr>td {
    border: none;
  }

  table tbody tr td.tblButton {
    padding-top: 0px;
    padding-bottom: 50px;
    border-bottom: 8px solid $borderBeige;
    border-radius: 0;
    a {
      border-bottom: 4px solid $black;
      border-left: 1px solid $black;
      border-right: 4px solid $black;
      border-top: 1px solid $black;
      margin-top: 10px;
      min-width: 100px;
      max-width: 100px;
    }
  }

  .tblButton {
    border-bottom: 4px solid $textBeige;
  }

  .container .btn, .panel-body a {
      //position: absolute;
      //top: 15%;
      //right: 2%;
      font-size: 16pt;
      //background-color: transparent;
      //border-left: none;
      //border-right: 8px solid $bg;
      //border-bottom: 8px solid $bg;
      //border-top: none;
      color: $bg;

  }
  .container a.btn:active, .panel-default a:active {
      //border-right: none;
      //border-left: 8px solid $bg;
      //border-top: 8px solid $bg;
      //border-bottom: none;
      background-color: $bg;
      color: $white;
      .text-warning {
        color: $white;
      }

  }


  //Mobile Nav

  .navbar {
    font-size: 24pt;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    margin: 0;
    width: 100%;
    border: none;
    border-top: 5px solid $borderBeige;
    min-height: 75px;
    .navbar-brand {
      font-size: 20pt;
    }
    .navbar-toggle {
      padding: 18px;

      .icon-bar {
        width: 26px;
        background-color: $white;
        padding-right: 0;
        padding-left: 0;

      }
    }
  }
  // Change colour of active menu button: ;
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $textBeige;
  }

  //Change Hamburger Icon to White
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: $white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:active{
    background-color: $black;
  }
  // Toggle Menu Icon (Hamburger when Collapsed and Cross when Open)
  //Have removed this because it made the nav interaction to require 2 taps
  .navbar-default  .navbar-default .navbar-toggle:focus {
    background-color: $bg;
    /*
span.icon-bar:nth-child(2) {
      transform: rotate(45deg) translateY(2px) translateX(2px);
    }
    span.icon-bar:nth-child(4) {
      transform: rotate(-45deg) translateY(-2px) translateX(2px);
    }
    span.icon-bar:nth-child(3) {
      display: none;
    }*/


  }
  .navbar-default .navbar-toggle.collapsed:hover, .navbar-toggle:focus {
    background-color: $bg;
    /*
span.icon-bar:nth-child(2) {
      transform: rotate(0deg);

    }
    span.icon-bar:nth-child(4) {
      transform: rotate(0deg);

    }
    span.icon-bar:nth-child(3) {
      display: block;
    }*/


  }

  a[href="javascript:history.back()"] {
    margin: 12px;
    width: 95%;
    max-width: 100%;
  }
  // Login Form Styling
  form {
    font-size: 130%;
    width: 100%;
    input {
      width: 80%;
      &[type="submit"] {
        width: 50%;
      }
    }
    a {
      border: 1px solid $bg;
      margin: 5px;
    }
  }
}
