/**
 *
 *      Style Analysis:
 *
 *          - White Text.
 *          - Titles in Big Capitals Sans Serif.
 *          - Rest of text in serif.
 *          - Text Colour is #474e56 on white bg.
 *              - Same colour is used as dark background.
 *          - Some Areas use $beige.
 *          - Links on white bg are #c99e67.
 *          - Buttons change upon hover, either start with white fill
 *            and dark colour^^ border & text. OR vice-versa.
 *
 *          Notes: Need to look at aria roles and change the focus styling
 *
 **/
/**
 *
 *      [1] - Imports
 **/
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700");
@import url("https://use.fontawesome.com/13bf5268a0.js");
/**
 *
 *      [2] - Variables
 *
 **/
/**
 *
 *      [3] - Styling
 *
 **/
* {
  border-radius: 5px;
  margin: 0;
  padding: 0; }

.container {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%; }

table {
  font-family: "PT Serif", serif;
  font-size: 120%; }

.table > tbody > tr > td {
  vertical-align: middle;
  border-bottom: 2px solid #aa824d; }

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  background-color: #474e56;
  color: #fff;
  margin-bottom: 1em;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  padding: 32px; }

.navbar {
  background-color: #474e56;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 0;
  margin: 0; }

.navbar-default .navbar-brand {
  color: #fff; }
  .navbar-default .navbar-brand:hover {
    color: #CDA775; }

.navbar-default .navbar-nav li a {
  color: #fff;
  text-align: left; }

.navbar-default .navbar-nav li a:hover {
  color: #CDA775;
  font-size: 120%; }

.navbar-nav > li > .dropdown-menu {
  background-color: #474e56; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #CDA775;
  color: #474e56; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #CDA775;
  color: #474e56; }

.btn-primary, input[type=submit], a[href="javascript:history.back()"] {
  background-color: transparent;
  width: 30%;
  font-size: 150%;
  padding: 12px;
  color: #474e56;
  margin-bottom: 10px;
  margin-right: 10px;
  border-bottom: 4px solid #000;
  border-left: 1px solid #000;
  border-right: 4px solid #000;
  border-top: 1px solid #000; }

.btn-primary:hover, input[type=submit]:hover, a[href="javascript:history.back()"]:hover {
  background-color: #fff;
  border-bottom: 4px solid #000;
  border-left: 1px solid #000;
  border-right: 4px solid #000;
  border-top: 1px solid #000;
  color: #474e56; }
  .btn-primary:hover .text-warning, input[type=submit]:hover .text-warning, a[href="javascript:history.back()"]:hover .text-warning {
    color: #CDA775; }

.btn-primary:active, input[type=submit]:active, a[href="javascript:history.back()"]:active {
  background-color: #474e56;
  border: 2px solid #474e56;
  color: #fff; }
  .btn-primary:active .text-warning, input[type=submit]:active .text-warning, a[href="javascript:history.back()"]:active .text-warning {
    color: #fff; }

.btn-primary:focus, input[type=submit]:focus, a[href="javascript:history.back()"]:focus {
  background-color: #474e56;
  border: 2px solid #474e56;
  color: #fff; }
  .btn-primary:focus .text-warning, input[type=submit]:focus .text-warning, a[href="javascript:history.back()"]:focus .text-warning {
    color: #fff; }

a {
  padding: 12px;
  background-color: transparent;
  color: #645034;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

a:hover {
  background-color: #474e56;
  color: #fff;
  text-decoration: none; }
  a:hover .text-warning {
    color: #fff; }

/*
  table tr:hover {
    border-left: 4px solid $bg;
    border-right: 4px solid $bg;
  }*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #474e56; }

.panel {
  border: none; }

.panel-body, .list-group {
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 4px solid #aa824d;
  border-top: none; }

.panel-default > .panel-heading {
  background-color: #474e56;
  color: #fff; }

.panel-heading {
  background-color: #474e56;
  border-radius: 0;
  border: none; }

.list-group-item {
  background-color: #f5f5f5;
  border: 2px solid #aa824d; }

.list-group-item:nth-child(odd) {
  background-color: #fff; }

.panel a {
  border-radius: 20px;
  color: #000;
  border-left: 1px solid #474e56;
  border-right: 1px solid #474e56;
  border-top: 1px solid #474e56;
  border-bottom: 4px solid #474e56; }

.panel a:hover {
  background-color: #474e56;
  color: #fff; }

.panel a:active {
  background-color: #474e56;
  color: #fff;
  border: 4px solid #CDA775;
  text-decoration: none; }

table {
  width: 100%;
  border-collapse: collapse; }

/* Zebra striping */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff; }

th {
  background: #474e56;
  color: white;
  font-weight: bold;
  border-radius: 0; }

td, th {
  padding: 12px;
  text-align: left; }

a[href="javascript:history.back()"] {
  margin: 12px;
  max-width: 15%; }

form {
  width: 100%;
  text-align: center; }
  form input {
    width: 30%;
    padding: 5px;
    margin: 2px;
    border: 2px solid #474e56; }
    form input[type="checkbox"] {
      width: auto; }
    form input[type="submit"] {
      width: 15%; }

@media screen and (max-device-width: 43em) {
  html {
    padding-bottom: 75px; }
  h1, h2, h3 {
    margin-top: 0; }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px; }
  table {
    font-size: 18pt;
    margin-top: 60px;
    table-layout: fixed; }
  .glyphicon {
    font-size: 30px;
    vertical-align: middle; }
  table thead {
    border: none;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }
  table tr {
    display: block;
    border: none; }
  table td {
    display: block;
    text-align: right;
    padding: 0;
    border: none;
    word-wrap: break-word; }
  td, th {
    font-size: 100%; }
  table td:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    width: 100%;
    background-color: #474e56;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding-left: 4px; }
  .table tbody tr td {
    padding: 0; }
  .tblButton {
    width: 33.333%;
    text-align: center;
    float: left; }
  .table > tbody > tr > td {
    border: none; }
  table tbody tr td.tblButton {
    padding-top: 0px;
    padding-bottom: 50px;
    border-bottom: 8px solid #aa824d;
    border-radius: 0; }
    table tbody tr td.tblButton a {
      border-bottom: 4px solid #000;
      border-left: 1px solid #000;
      border-right: 4px solid #000;
      border-top: 1px solid #000;
      margin-top: 10px;
      min-width: 100px;
      max-width: 100px; }
  .tblButton {
    border-bottom: 4px solid #645034; }
  .container .btn, .panel-body a {
    font-size: 16pt;
    color: #474e56; }
  .container a.btn:active, .panel-default a:active {
    background-color: #474e56;
    color: #fff; }
    .container a.btn:active .text-warning, .panel-default a:active .text-warning {
      color: #fff; }
  .navbar {
    font-size: 24pt;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    margin: 0;
    width: 100%;
    border: none;
    border-top: 5px solid #aa824d;
    min-height: 75px; }
    .navbar .navbar-brand {
      font-size: 20pt; }
    .navbar .navbar-toggle {
      padding: 18px; }
      .navbar .navbar-toggle .icon-bar {
        width: 26px;
        background-color: #fff;
        padding-right: 0;
        padding-left: 0; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #645034; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
    background-color: #000; }
  .navbar-default .navbar-default .navbar-toggle:focus {
    background-color: #474e56;
    /*
span.icon-bar:nth-child(2) {
      transform: rotate(45deg) translateY(2px) translateX(2px);
    }
    span.icon-bar:nth-child(4) {
      transform: rotate(-45deg) translateY(-2px) translateX(2px);
    }
    span.icon-bar:nth-child(3) {
      display: none;
    }*/ }
  .navbar-default .navbar-toggle.collapsed:hover, .navbar-toggle:focus {
    background-color: #474e56;
    /*
span.icon-bar:nth-child(2) {
      transform: rotate(0deg);

    }
    span.icon-bar:nth-child(4) {
      transform: rotate(0deg);

    }
    span.icon-bar:nth-child(3) {
      display: block;
    }*/ }
  a[href="javascript:history.back()"] {
    margin: 12px;
    width: 95%;
    max-width: 100%; }
  form {
    font-size: 130%;
    width: 100%; }
    form input {
      width: 80%; }
      form input[type="submit"] {
        width: 50%; }
    form a {
      border: 1px solid #474e56;
      margin: 5px; } }
